/* form{
    width: 500px;
    margin-top: 20px;
    
    margin-left: 35%;
}
.form-label {
    margin-bottom: .5rem;
    color: blue;
    font-size: large;
    font-family: serif;
}
button{
    background-color: rebeccapurple;
} */