<p>products works!</p>
<form class="form-control" [formGroup]="productForm" (ngSubmit)="submit()">
    <caption>Add products</caption>
    <div class="mb-3">
      <label for="id1" class="form-label">ProductName</label>
      <input type="text" class="form-control" id="id1" name="ProductName" formControlName="ProductName">
    </div>
    <div class="mb-3">
      <label for="id2" class="form-label">Price</label>
      <input type="text" class="form-control" id="id2" name="Price" formControlName="Price">
    </div>
    <div class="mb-3">
        <label for="id3" class="form-label">Discriptions</label>
        <input type="text" class="form-control" id="id3" name="Discriptions" formControlName="Discriptions">
      </div>
      <label for="id5" class="form-label">Category</label>
      <select class="form-select" aria-label="Default select example" name="category" formControlName="category" id="id5">
        <option value="mobile" >Mobiles</option>
        <option value="Electronics">Electronics</option>
        <option value="Home appliances" >Home appliances</option>
      </select><br><br>
    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" routerLink="/product-list">Back</button>
  </form>